/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
   
    flex: 1;
    
    padding: 150px 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button{
    margin-right: auto; /* Movendo para a esquerda */
    padding: 15px 20px; /* Preenchimento */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 5px; /* Borda arredondada */
    background-color:rgb(0, 0, 0); /* Cor de fundo */
    color: rgb(255, 255, 255); /* Cor do texto */
    cursor: pointer; /* Cursor ao passar por cima */
    transition: background-color 0.3s; /* Transição suave */
    font-weight: bold; /* Negrito */
    font-family: Arial, Helvetica, sans-serif; /* Fonte */
    font-size: 100%; /* Tamanho da fonte */
  }