/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.mapsBox {
    position: relative; /* Posição relativa para permitir sobreposição */
    margin-bottom: 20px; /* Espaçamento inferior */
    left: 100px;
}

.mapsBox iframe {
    width: 85%; /* Largura do mapa */
    height: 680px; /* Altura do mapa */
  
   
}

/* Estilo para o link do WhatsApp */
.whatsapp-fixo {
    position: absolute;
    left: 0px;
    top: 720px; /* Ajuste conforme necessário */
}

/* Estilo para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
