/* Variáveis de cor */
:root {
  --primary-color: #ff76cf;
  --primary-hover-color: #ff4ebc;
  --background-color: #f7f7f7;
  --text-color: #333;
  --navbar-bg-color: #c76fb79b;
  --link-hover-color: #cd00a0;
  --link-underline-color: #ff0cebdb;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do corpo */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

/* Wrapper para conteúdo principal */
.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header-inner-content {
  max-width: 1300px;
  margin: 0 auto;
}

.navbar {
  background-color: var(--navbar-bg-color);
  padding: 30px 1rem;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  padding: 1rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.95);
  transition: color 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.navbar ul li a:hover {
  color: var(--link-hover-color);
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--link-underline-color);
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar ul li a:hover::after {
  width: 100%;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 30px;
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 1rem;
}

.menu-button {
  display: none;
}
.header-bottom-side-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  text-align: center;
  border-radius: 8px;
}

.header-bottom-side-left h2 {
  color: white;
  font-size: 3rem;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.95);
}

.header-bottom-side-left span {
  color: var(--primary-hover-color);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.95);
}

.header-bottom-side-left p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);
}

.header-bottom-side-left button {
  margin-top: 3.0rem;
  width: auto;
  padding: 0.7rem 3.0rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.95);
}

.header-bottom-side-left button:hover {
  background-color: var(--primary-hover-color);
  transform: translateY(-3px);
}

.header-bottom-side-left button:active {
  background-color: var(--link-hover-color);
  transform: translateY(0);
}

.header-bottom-side-left button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 118, 207, 0.5);
}

.header-bottom-side {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: url('../img/background-index.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

main {
  flex: 1;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  background-color: white;
}

.title h1 {
  text-align: center;
  margin-top: 2rem;
  background-color: white;
  font-size: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(0, 0, 0);
}

.principal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem 1rem;
}

.sobrenos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.sobrenos-title, .sobrenos-text {
  flex: 1 1 45%;
  max-width: 100%;
}

.sobrenos-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.95);
  font-size: 2.0rem;
}

.sobrenos-title span {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.95);
  color: #581b4b;
}

.sobrenos-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 300px;
  background-color: rgb(255, 250, 254);
  color: #393939;
  text-align: justify;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.31);
  padding: 20px;
  border: solid 3px var(--button-bg-color);
  font-size: 1.4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

.sobrenos-text button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color:#852b71;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.95);
}

.sobrenos-text button:hover {
  background-color:#dfa4d0;
  transform: scale(1.05);
}

.sobrenos-text button:active {
  background-color: var(--link-hover-color);
  transform: scale(1);
}

.sobrenos-text button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 118, 207, 0.5);
}

/* Carousel container */
.carousel {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

/* Carousel slide */
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

/* Carousel container */
.carousel {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

/* Carousel slide */
.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

/* Prev and next buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-slide img {
  width: 100%; /* Ajusta a largura para ocupar 100% do contêiner pai */
  height: 300px; /* Define a altura fixa para as imagens */
  object-fit: cover; /* Garante que a imagem mantenha a proporção e cubra todo o espaço */
}

.messagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin: 2rem auto;
  max-width: 600px;
  text-align: center;
  color: #ff36b8;
}

.messagem p {
  font-size: 3.0rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 1rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.95);
}

.messagem button {
  padding: 1.3rem 2.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: var(--primary-hover-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.95);
  margin-top: 10%;
  width: 80%;
  font-size: 200%;
}

.messagem button:hover {
  background-color: var(--link-hover-color);
  transform: translateY(-3px);
}

.messagem button:active {
  background-color: var(--link-hover-color);
  transform: translateY(0);
}

.messagem button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 118, 207, 0.5);
}

.clear-page{
  background-color: #000000;
  font-size: 300%;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  color: #6c6c6c;
  padding-bottom: 30px;
  border-radius: 10px;
}

.dicas h1{
  margin-top: 30px;
  font-size: 300%;
}

.dicas p{
  margin-top: 2%;
  font-size: 200%;
  font-style: italic;
  text-align: justify;
}

.dicas,
.blog {
  flex: 1;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 1rem;
}

/* Container para manter as divs lado a lado */
.container-colaboratividade {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.blog img {
  width: 100%; /* Ajusta a largura para ocupar 100% do contêiner pai */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 500px; /* Define a largura máxima da imagem */
  border-radius: 10px; /* Adiciona bordas arredondadas */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra para um efeito estético */
}

.blog button {
  margin-top: 6%;
  background-color: var(--primary-color); /* Cor de fundo */
  color: #ffffff; /* Cor do texto */
  padding: 0.7rem 2rem; /* Espaçamento interno */
  font-size: 1.2rem; /* Tamanho da fonte */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: none; /* Remove borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para pointer */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transição para efeitos */
  font-weight: bold; /* Texto em negrito */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.95); /* Sombra do texto */
}

.blog button:hover {
  background-color: var(--primary-hover-color); /* Cor de fundo ao passar o mouse */
  transform: translateY(-3px); /* Efeito de "levitação" */
}

.blog button:active {
  background-color: var(--link-hover-color); /* Cor de fundo ao clicar */
  transform: translateY(0); /* Remove efeito de "levitação" */
}

.blog button:focus {
  outline: none; /* Remove outline padrão */
  box-shadow: 0 0 0 3px rgba(255, 118, 207, 0.5); /* Adiciona sombra ao focar */
}


@media (max-width: 768px) {
  .container-colaboratividade {
    flex-direction: column;
    align-items: center;
  }
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .prev, .next {
    font-size: 11px;
    padding: 10px;
  }
}

footer {
  background-color: #c76fb79b;
  color: #ffffff;
  padding: 30px 1rem;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  border-top: 2px solid #000000;
}

.footer-container div {
  flex: 1;
  min-width: 250px;
  margin: 10px;
  text-align: center;
}

.footer-container h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
  color: #000000;
}

.footer-container p {
  margin: 5px 0;
  font-size: 1rem;
}

.footer-container a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
  transition: color 0.3s, transform 0.3s;
}

.footer-container a:hover {
  color: #852b71;
  text-decoration: underline;
  transform: scale(1.05);
}

.social-icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  margin: 0 20px;
  display: inline-block;
  transition: transform 0.3s;
}

.social-icon:hover {
  transform: translateY(-5px);
}

.social-icon.instagram {
  background-image: url('https://img.icons8.com/ios-filled/50/ffffff/instagram.png');
}

.footer-bottom {
  margin-top: 20px;
  border-top: 1px solid #000000;
  padding-top: 10px;
  font-size: 1.3rem;
  color: #000000;
}

.whatsapp-fixo {
  position: fixed;
  right: 5px;
  bottom: 20px;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .header-bottom-side-left {
    padding: 1rem;
  }

  .header-bottom-side-left h2 {
    font-size: 2rem;
  }

  .header-bottom-side-left p {
    font-size: 1rem;
  }

  .header-bottom-side-left button {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }

  .navbar {
    position: fixed;
  }

  .menu-button {
    display: block;
  }

  nav {
    position: fixed;
    background-color: #2c2c2c;
    width: 100%;
    top: 47px;
    display: none;
  }

  .show-menu nav {
    display: block;
    background-color: #dfa4d0;
    margin-top: 40px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }

  .sobrenos-container {
    flex-direction: column;
  }

  .sobrenos-title, .sobrenos-text {
    flex: 1 1 100%;
  }
}

@media (max-width: 480px) {
  .footer-container h2 {
    font-size: 1.2rem;
  }

  .footer-container p,
  .footer-container a {
    font-size: 0.9rem;
  }
}
